/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300..700;1,14..32,300..700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #08090a;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #fff;
}

.hidden {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10rem;
  background-color: transparent;
  z-index: 1;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5rem;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
}
.nav__logo {
  font-size: 2.4rem;
  width: 33%;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.nav__item {
  padding: 0 1rem;
}
.nav__cta {
  margin-left: auto;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  background-image: url("/img/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 82rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  text-align: center;
  margin-top: 10rem;
  padding-block: clamp(10rem, 7.82rem + 6.82vw, 16rem);
}
.hero__title {
  font-size: clamp(4rem, 1.227rem + 6.36vw, 9.6rem);
  font-weight: 500;
  letter-spacing: -0.01rem;
  text-wrap: balance;
  margin-bottom: 5.6rem;
}
.hero__subtitle {
  color: #b2b2b2;
  font-size: clamp(2rem, 1.8544rem + 0.45vw, 2.4rem);
  letter-spacing: -0.01em;
  line-height: 1.5;
  margin-bottom: clamp(3.6rem, 3.0912rem + 1.59vw, 5rem);
}

.product {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.product__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
.product__col {
  height: 40rem;
  background-color: #1e1e24;
  border-radius: 1.6rem;
}

.features {
  padding-block: clamp(10rem, 9.272rem + 2.27vw, 12rem);
  position: relative;
}
.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(3rem, 2.23rem + 2.27vw, 5rem);
}
.features__item {
  height: 36rem;
  background-color: #1e1e24;
  border-radius: 1.6rem;
  overflow: hidden;
}

.pricing {
  padding-bottom: clamp(10rem, 9.272rem + 2.27vw, 12rem);
}
.pricing-cards {
  display: grid;
  max-width: 110rem;
  grid-template-columns: repeat(auto-fill, 320px);
  gap: 7.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (width <= 768px) {
  .pricing-cards {
    gap: clamp(5rem, 4.2rem + 2.5vw, 7.2rem);
  }
}
.pricing-card {
  height: 100%;
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.4rem;
}
.pricing-card:nth-child(1) {
  justify-self: end;
}
.pricing-card--recommended {
  position: relative;
  border: none;
  background: #1e1e24;
}
.pricing-card--recommended::before {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: inline-block;
  content: "Most Popular";
  font-size: 14px;
  color: #08090a;
  background-color: #fff;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
}
.pricing-card__title {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.pricing-card__price {
  font-size: clamp(3rem, 2.346rem + 2.05vw, 4.8rem);
  line-height: 1;
  font-weight: 600;
}
.pricing-card__list {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row-gap: 0.75rem;
  row-gap: 1.2rem;
  line-height: 2rem;
}
.pricing-card__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pricing-card__list-item svg {
  height: 1.6rem;
  width: 1.6rem;
}
.pricing-card__list-item span {
  margin-left: 1.6rem;
}
.pricing-card__btn {
  margin-top: 3.2rem;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.pricing-card__btn--premium {
  background-color: #fff;
  color: #08090a;
}

.download {
  background: #1e1e24;
  padding-block: clamp(10rem, 9.272rem + 2.27vw, 12rem);
  overflow: hidden;
}
.download-btns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (width <= 470px) {
  .download-btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 2rem;
  }
}
.download-btns::before, .download-btns::after {
  position: absolute;
  content: "";
  -webkit-filter: blur(10rem);
          filter: blur(10rem);
  width: 400px;
  height: 400px;
  opacity: 0.2;
  border-radius: 50%;
}
.download-btns::before {
  top: 50px;
  left: 150px;
  background: #d1345b;
}
.download-btns::after {
  top: -400px;
  right: 100px;
  background: #1ccad8;
}
.download__btn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 0.8rem 1.6rem;
  line-height: 1.8 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.footer {
  padding: 9.6rem 0;
  font-size: 1.4rem;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin: 0 auto;
}
.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.footer-col__logo {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}
.footer-col__copyright {
  color: #b2b2b2;
}
.footer-col__title {
  font-weight: 500;
  margin-bottom: 2.4rem;
}
.footer-col__link {
  margin-bottom: 1.2rem;
  line-height: 2rem;
  color: #b2b2b2;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
}
.footer-col__link:hover {
  color: #fff;
}
.footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer-social-links svg:hover {
  fill: #fff;
}

.container {
  max-width: 128rem;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  margin-inline: auto;
}
@media (width <= 768px) {
  .container {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
@media (width <= 470px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.section-content {
  text-align: center;
  max-width: 78rem;
  margin: 0 auto;
  line-height: 1.2;
  text-wrap: balance;
}
.section-content__heading {
  font-size: clamp(3.6rem, 2.4368rem + 3.64vw, 6.8rem);
  margin-bottom: 4.8rem;
  line-height: 1.2;
  font-weight: 500;
}
.section-content__heading--small {
  font-size: 5.6rem;
}
.section-content__heading--xs {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: clamp(1.6rem, 0.437rem + 3.64vw, 4.8rem);
}
.section-content__subheading {
  font-size: clamp(1.6rem, 1.4544rem + 0.45vw, 2rem);
  color: #b2b2b2;
  margin-bottom: clamp(4.4rem, 2.8rem + 5vw, 8.8rem);
  line-height: 1.5;
}
@media (width <= 768px) {
  .section-content {
    padding: 0 2rem;
  }
}

.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: 0.1rem solid transparent;
  border-radius: 0.6rem;
  display: inline-block;
  font-weight: 500;
  line-height: 1.8;
  padding: 0.8rem 1.6rem;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn svg {
  margin-right: 0.6rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn:hover {
  background-color: #1e1e24;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn--accent {
  background-color: #fff;
  color: #08090a;
}
.btn--accent:hover {
  border: 0.1rem solid #fff;
}
.btn--accent:hover svg {
  fill: #fff;
}
.btn--glowing {
  background-color: #fff;
  -webkit-box-shadow: 0 0 1rem #fff;
          box-shadow: 0 0 1rem #fff;
  color: #08090a;
}
.btn--download {
  border: 0.1rem solid #fff;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}/*# sourceMappingURL=main.css.map */