/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300..700;1,14..32,300..700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #08090a;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #fff;
}

.container {
  max-width: 131rem;
  padding: 0 4.8rem;
  margin: 0 auto;
}
.container--small {
  max-width: 110rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10rem;
  background-color: transparent;
  z-index: 1;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5rem;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
}
.nav__logo {
  font-size: 2.4rem;
  width: 33%;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.nav__item {
  padding: 0 1rem;
}
.nav__cta {
  margin-left: auto;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  min-height: 80vh;
  background-image: url("/img/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 82rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  text-align: center;
  margin-top: 10rem;
  padding: 16rem 4.8rem 12rem;
}
.hero__title {
  font-size: 9.6rem;
  font-weight: 500;
  letter-spacing: -0.01rem;
  text-wrap: balance;
  margin-bottom: 5.6rem;
}
.hero__subtitle {
  color: #b2b2b2;
  font-size: 2.4rem;
  letter-spacing: -0.01em;
  line-height: 1.5;
  margin-bottom: 5rem;
}

.product {
  padding-bottom: 12rem;
}
.product__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
.product__col {
  height: 40rem;
  background-color: #1e1e24;
  border-radius: 1.6rem;
}

.features {
  padding-bottom: 12rem;
}
.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}
.features__item {
  height: 36rem;
  background-color: #1e1e24;
  border-radius: 1.6rem;
  overflow: hidden;
}

.pricing {
  padding-bottom: 12rem;
}
.pricing-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7.2rem;
  width: 70%;
  margin: 0 auto;
}
.pricing-card {
  height: 100%;
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  max-width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.4rem;
}
.pricing-card:nth-child(1) {
  justify-self: end;
}
.pricing-card--recommended {
  position: relative;
  border: none;
  background: #1e1e24;
}
.pricing-card--recommended::before {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: inline-block;
  content: "Most Popular";
  font-size: 14px;
  color: #08090a;
  background-color: #fff;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 0.6rem;
  padding: 0.3rem 0.8rem;
}
.pricing-card__title {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.pricing-card__price {
  font-size: 4.8rem;
  line-height: 1;
  font-weight: 600;
}
.pricing-card__list {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row-gap: 0.75rem;
  row-gap: 1.2rem;
  line-height: 2rem;
}
.pricing-card__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pricing-card__list-item svg {
  height: 1.6rem;
  width: 1.6rem;
}
.pricing-card__list-item span {
  margin-left: 1.6rem;
}
.pricing-card__btn {
  margin-top: 3.2rem;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.pricing-card__btn--premium {
  background-color: #fff;
  color: #08090a;
}

.download {
  background: #1e1e24;
  padding: 9.6rem 0;
  overflow: hidden;
}
.download-heading {
  font-size: 5rem !important;
  font-weight: 500;
}
.download-btns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.download-btns::before, .download-btns::after {
  position: absolute;
  content: "";
  -webkit-filter: blur(100px);
          filter: blur(100px);
  width: 200px;
  height: 200px;
  opacity: 0.3;
  border-radius: 50%;
}
.download-btns::before {
  top: 50px;
  left: -200px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50.02%, #d1345b), color-stop(98.88%, #1ccad8));
  background: linear-gradient(90deg, #d1345b 50.02%, #1ccad8 98.88%);
}
.download-btns::after {
  top: -300px;
  right: -50px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50.02%, #1ccad8), color-stop(98.88%, #d1345b));
  background: linear-gradient(90deg, #1ccad8 50.02%, #d1345b 98.88%);
}
.download__btn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 0.8rem 1.6rem;
  line-height: 1.8 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.section-content {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.2;
}
.section-content__heading {
  font-size: 6.8rem;
  margin-bottom: 3rem;
  line-height: 1.2;
}
.section-content__heading--small {
  font-size: 5.6rem;
}
.section-content__subheading {
  font-size: 2rem;
  color: #b2b2b2;
  margin-bottom: 4.8rem;
  line-height: 1.5;
}

.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: 0.1rem solid transparent;
  border-radius: 0.6rem;
  display: inline-block;
  font-weight: 500;
  line-height: 1.8;
  padding: 0.8rem 1.6rem;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn svg {
  margin-right: 0.6rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn:hover {
  background-color: #1e1e24;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn--accent {
  background-color: #fff;
  color: #08090a;
}
.btn--accent:hover {
  border: 0.1rem solid #fff;
}
.btn--accent:hover svg {
  fill: #fff;
}
.btn--glowing {
  background-color: #fff;
  -webkit-box-shadow: 0 0 1rem #fff;
          box-shadow: 0 0 1rem #fff;
  color: #08090a;
}
.btn--download {
  border: 0.1rem solid #fff;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}/*# sourceMappingURL=main.css.map */