.btn {
  align-items: center;
  color: $btn-text-color;
  background-color: transparent;
  border: 0.1rem solid transparent;
  border-radius: 0.6rem;
  display: inline-block;
  font-weight: 500;
  line-height: 1.8;
  padding: 0.8rem 1.6rem;
  position: relative;
  transition: all 0.4s;

  &:hover {
    background-color: $secondary-bg-color;
    color: $text-color;
    box-shadow: none;
  }

  &--accent {
    background-color: $accent-color;
    box-shadow: 0 0 1rem $accent-color;
    color: $primary-bg-color;
  }

  &--download {
    border: 0.1rem solid $text-color;
  }
}
