.container {
  max-width: 128rem;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  // margin: 0 auto;
  margin-inline: auto;

  @include small-device() {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  @include mobile() {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
