.features {
  padding-bottom: 12rem;
  &__row {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__item {
    height: 36rem;
    background-color: $secondary-bg-color;
    border-radius: 1.6rem;
    overflow: hidden;
  }
}
