.features {
  padding-block: clamp(10rem, 9.272rem + 2.27vw, 12rem);
  position: relative;

  &__row {
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 2.23rem + 2.27vw, 5rem);

    // @include small-device() {
    //   gap: 3rem;
    // }
  }

  &__item {
    height: 36rem;
    background-color: $secondary-bg-color;
    border-radius: 1.6rem;
    overflow: hidden;
  }
}
