.features {
  padding-block: clamp(10rem, 9.272rem + 2.27vw, 12rem);
  position: relative;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 2.23rem + 2.27vw, 5rem);
  }

  &-item {
    display: grid;
    min-height: 350px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    background-color: $secondary-bg-color;
    border-radius: 1.6rem;
    overflow: hidden;
    &--reversed {
      .features-item__content {
        order: 1;
      }
      .features-item__img {
        order: -1;
      }
      @include small-device() {
        .features-item__content,
        .features-item__img {
          order: initial;
        }
      }
    }

    @include small-device() {
      grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    }
    @include mobile() {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    &__content {
      display: flex;
      flex-direction: column;
      padding: 2.4rem 4.8rem;
      line-height: 1.7;
      @include small-device() {
        padding: 2.4rem;
      }
    }
    &__title {
      font-size: clamp(1.8rem, 1.73rem + 0.23vw, 2rem);
      font-weight: 500;
      margin-bottom: 1.4rem;
    }
    &__description {
      font-size: clamp(1.6rem, 1.528rem + 0.23vw, 1.8rem);
      color: $text-color-muted;
    }
    &__img {
      display: flex;
      align-items: center;
      margin: 0 auto;
      padding: 1rem;
      img {
        max-height: 300px;
        width: auto;
      }
    }
  }
}
