.footer {
  padding-block: clamp(8.8rem, 7.637rem + 3.64vw, 12rem);
  font-size: 1.6rem;

  &-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin: 0 auto;

    @include tablet() {
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
      row-gap: 2.4rem;
    }

    // @include mobile() {
    //   grid-template-columns: 1fr;
    // }
  }

  &-col {
    display: flex;
    flex-flow: column;

    &__logo {
      font-size: 2rem;
      margin-bottom: 2.4rem;
    }

    &__copyright {
      color: $text-color-muted;
      line-height: 1.5;
    }

    &__title {
      font-weight: 500;
      margin-bottom: 2.4rem;
    }

    &__link {
      margin-bottom: 1.2rem;
      line-height: 2rem;
      color: $text-color-muted;
      text-decoration: none;
      transition: color 0.3s;
      align-self: flex-start;
      cursor: pointer;

      &:hover {
        color: $text-color;
      }
    }
  }

  &-social-links {
    display: flex;
    gap: 12px;

    svg:hover {
      fill: $text-color;
    }
  }
}
