.hero {
  display: flex;
  place-items: center;
  // min-height: 80vh;
  background-image: url("/img/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__content {
    display: flex;
    max-width: 82rem;
    flex-direction: column;
    place-items: center;
    text-align: center;
    margin-top: 10rem;
    padding-block: clamp(10rem, 7.82rem + 6.82vw, 16rem);

    // @include small-device() {
    //   padding-block: 14rem;
    // }
  }

  &__title {
    font-size: clamp(4rem, 1.227rem + 6.36vw, 9.6rem);
    font-weight: 500;
    letter-spacing: -0.01rem;
    text-wrap: balance;
    margin-bottom: 5.6rem;
  }

  &__subtitle {
    color: $text-color-muted;
    font-size: clamp(2rem, 1.8544rem + 0.45vw, 2.4rem);
    letter-spacing: -0.01em;
    line-height: 1.5;
    margin-bottom: clamp(3.6rem, 3.0912rem + 1.59vw, 5rem);
  }
}
