.hero {
  display: flex;
  place-items: center;
  min-height: 80vh;
  background-image: url("/img/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__content {
    display: flex;
    max-width: 82rem;
    flex-direction: column;
    place-items: center;
    text-align: center;
    margin-top: 10rem;
    padding: 16rem 4.8rem 12rem;

    @include small-device() {
      padding: 14rem 0;
    }
  }

  &__title {
    font-size: clamp(5.2rem, 3.6rem + 5vw, 9.6rem);
    font-weight: 500;
    letter-spacing: -0.01rem;
    text-wrap: balance;
    margin-bottom: 5.6rem;
  }

  &__subtitle {
    color: $text-color-muted;
    font-size: 2.4rem;
    letter-spacing: -0.01em;
    line-height: 1.5;
    margin-bottom: 5rem;
  }
}
