.pricing {
  padding-bottom: clamp(10rem, 9.272rem + 2.27vw, 12rem);
  &-cards {
    display: flex;
    justify-content: center;
    gap: 7.2rem;
    flex-wrap: wrap;

    @include small-device() {
      gap: clamp(5rem, 4.2rem + 2.5vw, 7.2rem);
    }
  }

  &-card {
    display: flex;
    height: 100%;
    width: 316px;
    border-radius: 1.6rem;
    flex-direction: column;
    padding: 2.4rem;

    @include mobile() {
      padding: 2rem;
    }

    &--recommended {
      position: relative;
      border: none;
      background: $secondary-bg-color;

      &::before {
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: inline-block;
        content: "Most Popular";
        font-size: 14px;
        color: $primary-bg-color;
        background-color: $accent-color;
        border: 1px solid hsl(0 0% 86%);
        border-radius: 1rem;
        padding: 0.4rem 0.8rem;
      }
    }

    &__title {
      font-size: 1.4rem;
      margin-bottom: 1.6rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }

    &__price {
      font-size: clamp(3rem, 2.346rem + 2.05vw, 4.8rem);
      line-height: 1;
      font-weight: 600;
    }

    &__list {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      grid-row-gap: 0.75rem;
      row-gap: 1.2rem;
      line-height: 2rem;

      &-item {
        display: flex;
        align-items: center;

        svg {
          height: 1.6rem;
          width: 1.6rem;
        }

        span {
          margin-left: 1.6rem;
        }
      }
    }

    &__btn {
      margin-top: 3.2rem;
      width: 100%;
      text-align: center;
      box-shadow: none;

      &--premium {
        background-color: $accent-color;
        color: $primary-bg-color;
      }
    }
  }
}
