.section-content {
  text-align: center;
  max-width: 78rem;
  margin: 0 auto;
  line-height: 1.2;
  text-wrap: balance;

  &__heading {
    font-size: 6.8rem;
    margin-bottom: 4.8rem;
    line-height: 1.2;
    font-weight: 500;

    &--small {
      font-size: 5.6rem;
    }
  }
  &__subheading {
    font-size: 2rem;
    color: $text-color-muted;
    margin-bottom: 8.8rem;
    line-height: 1.5;
  }

  @include small-device() {
    padding: 0 2rem;
  }
}
