.section-content {
  text-align: center;
  max-width: 78rem;
  margin: 0 auto;
  line-height: 1.2;
  text-wrap: balance;

  &__heading {
    font-size: clamp(3.6rem, 2.4368rem + 3.64vw, 6.8rem);
    margin-bottom: 4.8rem;
    line-height: 1.2;
    font-weight: 500;

    &--small {
      font-size: 5.6rem;
    }

    &--xs {
      font-size: 5rem;
      font-weight: 500;
      margin-bottom: clamp(1.6rem, 1.1632rem + 1.36vw, 2.8rem);
    }
  }
  &__subheading {
    font-size: clamp(1.6rem, 1.4544rem + 0.45vw, 2rem);
    color: $text-color-muted;
    margin-bottom: clamp(4.4rem, 2.8rem + 5vw, 8.8rem);
    line-height: 1.5;

    &--xs {
      margin-bottom: clamp(4.4rem, 4.182rem + 0.68vw, 5rem);
    }
  }

  @include small-device() {
    padding: 0 2rem;
  }
}
