@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300..700;1,14..32,300..700&display=swap");

// * {
//   border: 1px solid rgb(197, 101, 101);
// }

html,
body {
  font-size: 16px;
  font-family: $font-main;
  color: $text-color;
  background: $primary-bg-color;
}

// .container {
// }

// .section-title {
// }
