@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300..700;1,14..32,300..700&display=swap");

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: $primary-bg-color;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: $font-main;
  line-height: 1;
  color: $text-color;
}

.wrapper {
  background-image: url("../img/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  &.sticky {
    margin-top: 10rem;
  }
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}
