$font-main: "Inter", sans-serif;
$text-color: #fff;
$accent-color: #fff;
$text-color-muted: #b2b2b2;
$primary-bg-color: #08090a;
$secondary-bg-color: #1e1e24;
$btn-text-color: rgba(255, 255, 255, 0.9);
